/* === CSS Reset === */
/* Remove default margins, padding, and set box-sizing */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*{
  font-family: "Roboto Mono", serif;
}

/* Remove list styles (bullets/numbers) */
ul,
ol {
  list-style: none;
}

/* Remove default anchor styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove default button styles */
button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Make images responsive */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* === Typography === */
:root {
  font-size: 16px; /* Base font size */
  line-height: 1.6; /* Default line height */

}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1.5rem;
}

/* === Layout and Spacing === */
body {
  background-color: #F4F4F4 }

  html {
    scroll-padding-top: 80px; /* Adjust this value based on your navbar height */
  }

